.logo img {
    height: 40px;
    width: 60px;
  }
  
  div.row {
    background-color: rgba(11, 12, 12, 0.863);
    height: 80px;
  }
  
  .name {
    color: brown;
  }
  
  h1 {
    color: chocolate;
  }
  
  b {
    color: darkred;
  }
  
  .logo {
    height: 40px;
    width: 60px;
  }
  
  .logout a {
    color: #fff;
    font-size: 1.2em;
  }
  
  .navbar-brand {
    font-size: 1.4em;
  }